# Python
__pycache__/
*.pyc

# Virtual environments
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# data files from previous data storage situation 
FPLC_data/
MS_data/
UV_scan/